*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
body{
    background: #dfb2b2;
}

img{
    border-radius: 30px;
    scale: 70%;
}

.header{
    width: 100%;
    height: 90vh;
    padding: 0 10%;        
}
nav{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    position: relative;
    z-index: 100; /*pra deixar a nav na frente da img*/
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #3f51b5
}
.text-box{
    margin-top: 130px;
    max-width: 550px;
}
.text-box h1{
    font-size: 45px;
    margin-bottom: 20px;
    color:#3f51b5;
}

.text-box a{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    background: #3f51b5;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 10px;
}


model-viewer{
    width: 450px;
    height: 700px;
    padding: 15% 0% 0% 0%;
    border-radius: 0 0 10% 10%;
    border: 5px solid #3f51b5;
    background: #d9e0ff;
    position: absolute;
    top:-10%;
    right: 7.5%;
    z-index: 1;
    
}
footer{
    position: relative;
    width:100%;
    bottom: 100%;
    background-color: #aec1ea;
    text-align: center;
}